<div class="panel panel-primary">
    <div class="panel-title">
        <h3>Opciones</h3>
    </div>
    <div class="panel-body">
        <nav>
            <ul>
                <li> <a href="#" ></a> </li>
                <li> <a href="#" >site1</a> </li>
                <li> <a href="#" >site2</a> </li>
            </ul>
        </nav>
    </div>
</div>
