{% extends 'IcoderBundle:sport:index.html.twig' %}

{% block pageTitle %}Equipo{% endblock %}

{% block title %}Equipo{% endblock %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Lista Equipos</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('team_new') }}">Agregar Equipo</a>
{% endblock %}

{% block panelBody %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Equipos</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary col-xs-3" href="{{ path('team_new') }}">Agregar Equipo</a>
{% endblock %}
