{% extends 'IcoderBundle:province:index.html.twig' %}

{% block pageTitle %}Cantones{% endblock %}

{% block title %}Cantones{% endblock %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Cantones</h1>
    <a href="{{path('canton_new')}}" class="col-xs-3 col-xs-offset-6 btn btn-primary">Agregar cantón</a>
{% endblock %}

{% block panelBody %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for canton in cantons %}
                <tr>
                    <td><a href="{{ path('canton_show', { 'id': canton.id }) }}">{{ canton.name }}</a></td>
                    <td>{% if canton.active %}Si{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
    <a href="{{ path('canton_new') }}"class="col-xs-3 btn btn-primary">Agregar cantón</a>
{% endblock %}
