<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>ICODER {% block pageTitle %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
    {% block css %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    {# bloque para contenido de la pagina #}
{% block body %}{% endblock %}


{# Evitar Usar este para insertar javascript solo elemtos macro #}
{% block javascripts %}
    <script src=" {{ asset('js/jquery.min.js') }}" type="text/javascript"></script>
    <script src=" {{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
{% endblock %}

{# boque para javascript de cada vista --> #}
{% block js %}{% endblock %}
</body>
</html>
