{% extends 'IcoderBundle:Default:index.html.twig' %}

{% block pageTitle %} Inscripciones {% endblock %}

{% block title %} Inscripciones {% endblock %}

{% block panelTitle %}
    <h1 class="panel-title">Lista de inscripciones</h1>
{% endblock %}

{% block panelBody %}
    <div class="list-group">

    </div>
    {% for inscription in inscriptions %}
        <a class="list-group-item col-xs-12" 
           href="{{ path('inscription_show', { 'id': inscription.id }) }}">
            <div class="col-xs-12 col-sm-9">
                {{ inscription.team }}
            </div>
            <div class="col-xs-12 col-sm-3">
                {% if inscription.register %}{{ inscription.register|date('Y-m-d') }}{% endif %}
            </div>
        </a>
    {% else  %}
        <p>No existen inscripciones aun</p>
    {% endfor %}

{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary" href="{{ path('inscription_add') }}">Agregar</a>
{% endblock %}
