{% extends 'IcoderBundle:Default:index.html.twig' %}

{% block pageTitle %} Inscripciones {% endblock %}

{% block title %} Inscripciones {% endblock %}

{% block panelTitle %}
    <h1 class="panel-title">Lista de inscripciones</h1>
{% endblock %}

{% block panelBody %}
    <div class="list-group col-xs-12">
        {% for inscription in inscriptions %}
            <div class="list-group-item col-xs-12">
                <div class="col-xs-12 col-sm-9">
                    {{ inscription.team }}
                </div>
                <div class="col-xs-12 col-sm-3">
                    {% if inscription.register %}{{ inscription.register|date('Y-m-d') }}{% endif %}
                </div>
            </div>
        {% else  %}
            <p>No existen inscripciones aun</p>
        {% endfor %}
    </div>

{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary" href="{{ path('inscription_add') }}">Agregar</a>
{% endblock %}
