{% extends 'IcoderBundle:competitor:index.html.twig' %}

{% block panelTitle %}
    <h1 class="panel-title col-xs-5">Tipos de competidores</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-4" href="{{ path('type_new') }}">Agregar</a>
{% endblock %}

{% block panelBody %}
    <div class="list-group">
        {% for type in types %}
            <a class="list-group-item" href="{{ path('type_show', { 'id': type.id }) }}">{{ type.name }}</a>
        {% else %}
            <p>No existen tipos registrados</p>
        {% endfor %}
    </div>
{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary col-xs-3" href="{{ path('type_new') }}">Agregar</a>
{% endblock %}

