.height-vh {
    min-height: 100vh;
}

.view_proyect_estado_Activo {
    height: 100%;
    width: 100%;
    background: rgb(51, 255, 113);
}

.view_proyect_estado_Activo {
    height: 100%;
    width: 100%;
    background: rgb(51, 255, 113);
}

.view_proyect_estado_Activo {
    height: 100%;
    width: 100%;
    background: rgb(51, 255, 113);
}

.view_proyect_estado_Activo {
    height: 100%;
    width: 100%;
    background: rgb(51, 255, 113);
}