.container_header a {
    color: white;
}
body {
    padding-top: 50px;
    
}


.div1 {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    align-content: center;
    color: white;
    background: #18BC9C;
}

.portfolio{
    padding-top: 40px;
}

.about{
    background: #18BC9C;
    color: white;
    padding-top: 2%;
    padding-bottom: 3%;
}

.input {
    border: none;
}

.aspecial {
    text-decoration: none;
    border-style: solid;
    text-align: center;
    color: white;
    padding: 10px 10px;
}

.aspecial:hover{
    text-decoration: none;
    border-color: white;
    color: white;
}

.blu {
    background: #2C3C50;
    border-color: #2C3C50;
    color: white;
}

.espaciado{
    padding-top: 3%;
    padding-bottom: 5%;
}

.credits{
    padding-top: 1%;
    background: #233140;
    color: white;
    padding-bottom: 1%;
}