{% extends 'IcoderBundle:Default:index.html.twig' %}

{% block pageTitle %}Provincias{% endblock %}

{% block title %}Provincias{% endblock %}

{% block panelTitle %}
    <h1 class="panel-title col-xs-3">Provincias</h1>
    <a href="{{ path('province_new') }}" class="col-xs-3 col-xs-offset-9 btn btn-primary">Agregar provincia</a>
{% endblock %}

{% block panelBody %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for province in provinces %}
                <tr>
                    <td><a href="{{ path('province_show', { 'id': province.id }) }}">{{ province.name }}</a></td>
                    <td>{% if province.active %}Si{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
    <a href="{{ path('province_new') }}"class="col-xs-3 btn btn-primary">Agregar provincia</a>
{% endblock %}

{% block content_nav %}
    {% include 'IcoderBundle:province:nav_province.html.twig' %}
{% endblock %}
