{% extends 'IcoderBundle:Default:index.html.twig' %}

{% block pageTitle %}Provincias{% endblock %}

{% block title %}Provincias{% endblock %}

{% block panelTitle %}
    <h1 class="panel-title col-xs-3">Provincias</h1>
{% endblock %}

{% block panelBody %}
    <div class="panel hidden-xs">
        {{ render(controller('IcoderBundle:province:newSmall'))}}
    </div>

    <div class="list-group col-xs-12 col-ms-4 col-md-3">
        {% for province in provinces %}
            <a class="list-group-item" href="{{ path('province_show', { 'id': province.id }) }}">
                {{ province.name }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block content_nav %}
    {% include 'IcoderBundle:province:nav_province.html.twig' %}
{% endblock %}
