{% extends 'IcoderBundle:Default:index.html.twig' %}

{% block pageTitle %}Deportes{% endblock %}

{% block title %}Deportes{% endblock %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Lista de Desportes</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('sport_new') }}">Agregar Deporte</a>
{% endblock %}

{% block panelBody %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for sport in sports %}
                <tr>
                    <td><a href="{{ path('sport_show', { 'id': sport.id }) }}">{{ sport.name }}</a></td>
                    <td>{% if sport.active %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary col-xs-3" href="{{ path('sport_new') }}">Agregar Deporte</a>
{% endblock %}

{% block content_nav %}
    {% include 'IcoderBundle:sport:nav_sport.html.twig' %}
{% endblock %}
